@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 200;
    src: url("../docs/fonts/WorkSans-ExtraLight.woff2") format("woff2"), url("../docs/fonts/WorkSans-ExtraLight.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    src: url("../docs/fonts/WorkSans-Light.woff2") format("woff2"), url("../docs/fonts/WorkSans-Light.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url("../docs/fonts/WorkSans-Regular.woff2") format("woff2"), url("../docs/fonts/WorkSans-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: url("../docs/fonts/WorkSans-Medium.woff2") format("woff2"), url("../docs/fonts/WorkSans-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: url("../docs/fonts/WorkSans-Bold.woff2") format("woff2"), url("../docs/fonts/WorkSans-Bold.woff") format("woff");
    font-display: swap;
}
